@import "components/header";
@import "components/main-section";
@import "components/top-banner";
@import "components/blogpost";
@import "components/about-me";
@import "components/side-section";
@import "components/pagination";



body {
	font-family: roboto;	
}



#background {
	background: url(../../images/background.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: -2;
}



.clearfix {
	clear: both;
}