$page-width: 1100px;
$left-section-width: 770px;
$right-section-width: $page-width - $left-section-width;


$nav-background: #333333;
$nav-active-element-background: #E36C43;
$nav-text-color: #DDD;
$nav-active-element-text-color: #DDD;
$main-background: #FFF;