$accent-color: #DD4814;
$text-color: #222;


$nav-background: #333333;
$nav-active-element-background: $accent-color;
$nav-text-color: #DDD;
$nav-active-element-text-color: #FFF;


$main-background: #FFF;