@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,100,100italic,300,400italic,500italic,500,700,700italic,900,900italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-genderless:before,
.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.fa-buysellads:before {
  content: "";
}

.fa-connectdevelop:before {
  content: "";
}

.fa-dashcube:before {
  content: "";
}

.fa-forumbee:before {
  content: "";
}

.fa-leanpub:before {
  content: "";
}

.fa-sellsy:before {
  content: "";
}

.fa-shirtsinbulk:before {
  content: "";
}

.fa-simplybuilt:before {
  content: "";
}

.fa-skyatlas:before {
  content: "";
}

.fa-cart-plus:before {
  content: "";
}

.fa-cart-arrow-down:before {
  content: "";
}

.fa-diamond:before {
  content: "";
}

.fa-ship:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-motorcycle:before {
  content: "";
}

.fa-street-view:before {
  content: "";
}

.fa-heartbeat:before {
  content: "";
}

.fa-venus:before {
  content: "";
}

.fa-mars:before {
  content: "";
}

.fa-mercury:before {
  content: "";
}

.fa-transgender:before {
  content: "";
}

.fa-transgender-alt:before {
  content: "";
}

.fa-venus-double:before {
  content: "";
}

.fa-mars-double:before {
  content: "";
}

.fa-venus-mars:before {
  content: "";
}

.fa-mars-stroke:before {
  content: "";
}

.fa-mars-stroke-v:before {
  content: "";
}

.fa-mars-stroke-h:before {
  content: "";
}

.fa-neuter:before {
  content: "";
}

.fa-facebook-official:before {
  content: "";
}

.fa-pinterest-p:before {
  content: "";
}

.fa-whatsapp:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-user-plus:before {
  content: "";
}

.fa-user-times:before {
  content: "";
}

.fa-hotel:before,
.fa-bed:before {
  content: "";
}

.fa-viacoin:before {
  content: "";
}

.fa-train:before {
  content: "";
}

.fa-subway:before {
  content: "";
}

.fa-medium:before {
  content: "";
}

/* Preload images */
body:after {
  content: url(../../images/lightbox/close.png) url(../../images/lightbox/loading.gif) url(../../images/lightbox/prev.png) url(../../images/lightbox/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../images/lightbox/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../../images/lightbox/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../../images/lightbox/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../images/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  height: 55px;
  background: #333333;
  box-shadow: 0px 0px 10px 1px #272A2A;
  -webkit-box-shadow: 0px 0px 10px 1px #272A2A;
  -moz-box-shadow: 0px 0px 10px 1px #272A2A;
}
header .header-holder {
  width: 1100px;
  height: 100%;
  margin: auto;
}
header .page-logo {
  display: block;
  color: white;
  font-size: 30px;
  float: left;
  line-height: 55px;
  font-weight: 700;
  text-decoration: none;
}
header .burger-button {
  display: none;
}
header nav {
  float: right;
}
header nav li, header nav a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  float: left;
}
header nav a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 0px 15px;
  height: 55px;
  line-height: 55px;
  font-size: 13px;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}
header nav a:hover, header nav .current_page_item {
  color: #FFF;
  background-color: #DD4814;
}

@media (max-width: 640px) {
  header {
    height: initial;
  }
  header .header-holder {
    width: 100%;
  }
  header .page-logo {
    float: left;
    padding: 0px 20px;
  }
  header .burger-button {
    display: block;
    float: right;
    font-size: 30px;
    line-height: 55px;
    width: 55px;
    text-align: center;
    color: #FFF;
  }
  header .burger-button.active {
    color: #DD4814;
  }
  header nav {
    display: none;
    float: initial;
    position: absolute;
    top: 55px;
    right: 0px;
    background: #333333;
    min-width: 150px;
    z-index: -1;
    box-shadow: 0px 0px 10px 2px #272A2A;
    -webkit-box-shadow: 0px 0px 10px 2px #272A2A;
    -moz-box-shadow: 0px 0px 10px 2px #272A2A;
  }
  header nav li {
    float: initial;
    display: block;
    height: 55px;
  }
  header nav li a {
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
main {
  width: 1100px;
  background: #FFF;
  margin: 0px auto 115px auto;
  display: table;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}
main .content, main .side-column {
  display: table-cell;
}
main .content {
  width: 770px;
}
main .content-title {
  padding: 40px 0px 20px 0px;
  font-size: 36px;
  font-weight: 600;
  margin: 0px 70px;
  border-bottom: 2px dashed #DD4814;
}
main .side-column {
  width: 330px;
  background: #333333;
  vertical-align: top;
}
main .side-column > div {
  width: 100%;
}
main .side-column .sidebar-content-wrapper {
  padding: 20px 40px;
}

@media (max-width: 360px) {
  main .content-title {
    font-size: 24px !important;
    padding-top: 30px !important;
  }
}
@media (max-width: 640px) {
  main {
    display: block;
    width: 100%;
    margin: 0px;
  }
  main .content, main .side-column {
    display: block;
    width: 100%;
  }
  main .side-column > div {
    width: 100%;
  }
  main .side-column .sidebar-content-wrapper {
    padding: 20px 20px;
  }
  main .content-title {
    margin: 0px 20px;
  }
}
.top-banner {
  height: 115px;
}

@media (max-width: 640px) {
  .top-banner {
    display: none;
  }
}
.blogpost {
  padding: 40px 70px;
}
.blogpost .title, .blogpost .short-description {
  color: #222;
}
.blogpost .featured-image-wrapper {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.blogpost .featured-image-wrapper .title-wrapper {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
.blogpost .featured-image-wrapper .title {
  font-size: 30px;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.7);
  line-height: 50px;
  margin: 0px 6px 6px 6px;
}
.blogpost .featured-image-wrapper .featured-image {
  border: 6px solid #FFF;
  box-shadow: 0px 1px 6px #666;
  -webkit-box-shadow: 0px 1px 6px #666;
  -moz-box-shadow: 0px 1px 6px #666;
}
.blogpost .featured-image-wrapper img {
  display: block;
  width: 100%;
}
.blogpost .meta-data {
  float: left;
}
.blogpost .meta-data > span, .blogpost .meta-data > a {
  padding: 12px;
  border: 1px solid #CCC;
  display: inline-block;
  font-size: 14px;
  color: #333;
  background: #DDD;
  text-decoration: none;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  margin-right: 6px;
}
.blogpost .meta-data > span .fa, .blogpost .meta-data > a .fa {
  margin-right: 8px;
}
.blogpost .meta-data a:hover, .blogpost .meta-data .tags:hover {
  background: #CCC;
  text-decoration: underline;
  cursor: pointer;
}
.blogpost .buttons {
  float: right;
}
.blogpost .buttons .read-more-button {
  padding: 12px 12px 12px 20px;
  display: inline-block;
  font-size: 14px;
  color: #FFF;
  background: #DD4814;
  text-decoration: none;
  letter-spacing: 1px;
}
.blogpost .buttons .read-more-button .fa {
  margin-left: 8px;
}
.blogpost .buttons .read-more-button:hover {
  text-decoration: underline;
}
.blogpost .tags-and-categories-wrapper {
  margin-top: 15px;
  background: #EEE;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 10px 0px;
}
.blogpost .tags-and-categories-wrapper .categories, .blogpost .tags-and-categories-wrapper .tags {
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}
.blogpost .tags-and-categories-wrapper a {
  color: #999;
  text-decoration: none;
  margin-right: 10px;
  line-height: 20px;
  display: inline-block;
}
.blogpost .tags-and-categories-wrapper a:hover {
  text-decoration: underline;
  color: #777;
}
.blogpost .tags-and-categories-wrapper .fa {
  margin-right: 2px;
}
.blogpost .tags-and-categories-wrapper > div {
  margin-bottom: 10px;
}
.blogpost .tags-and-categories-wrapper > div:last-of-type {
  margin-bottom: 0px;
}
.blogpost .comments-area-wrapper {
  background: #EEE;
  border-bottom: 1px solid #DDD;
}
.blogpost .comments-area-wrapper .comments-area {
  padding: 10px;
}
.blogpost .comments-area-wrapper .comments-title, .blogpost .comments-area-wrapper .comment-reply-title {
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
}
.blogpost .comments-area-wrapper .comment {
  border: 1px solid #CCC;
  background: #DDD;
  margin: 15px 10px;
}
.blogpost .comments-area-wrapper .comment .comment-intro {
  padding: 5px 10px;
  border-bottom: 1px dashed #CCC;
  color: #666;
  font-size: 14px;
}
.blogpost .comments-area-wrapper .comment .comment-intro a {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}
.blogpost .comments-area-wrapper .comment .comment-intro a:hover {
  text-decoration: underline;
}
.blogpost .comments-area-wrapper .comment .comment-intro .comment-date {
  float: right;
}
.blogpost .comments-area-wrapper .comment > p {
  padding: 10px;
  color: #333;
  font-size: 15px;
  line-height: 18px;
}
.blogpost .comments-area-wrapper .comment-list {
  margin-bottom: 35px;
}
.blogpost .comments-area-wrapper #commentform {
  font-size: 15px;
  padding: 0px 10px;
  margin: 15px 0px;
}
.blogpost .comments-area-wrapper #commentform .logged-in-as {
  color: #666;
}
.blogpost .comments-area-wrapper #commentform .logged-in-as a {
  color: #333;
}
.blogpost .comments-area-wrapper #commentform .comment-notes {
  color: #666;
  font-size: 15px;
  margin: 6px 0px;
}
.blogpost .comments-area-wrapper #commentform .comment-form-author, .blogpost .comments-area-wrapper #commentform .comment-form-email, .blogpost .comments-area-wrapper #commentform .comment-form-url, .blogpost .comments-area-wrapper #commentform .comment-form-comment {
  display: table;
  width: 100%;
  margin: 10px 0px;
}
.blogpost .comments-area-wrapper #commentform .comment-form-author label, .blogpost .comments-area-wrapper #commentform .comment-form-author input, .blogpost .comments-area-wrapper #commentform .comment-form-author textarea, .blogpost .comments-area-wrapper #commentform .comment-form-email label, .blogpost .comments-area-wrapper #commentform .comment-form-email input, .blogpost .comments-area-wrapper #commentform .comment-form-email textarea, .blogpost .comments-area-wrapper #commentform .comment-form-url label, .blogpost .comments-area-wrapper #commentform .comment-form-url input, .blogpost .comments-area-wrapper #commentform .comment-form-url textarea, .blogpost .comments-area-wrapper #commentform .comment-form-comment label, .blogpost .comments-area-wrapper #commentform .comment-form-comment input, .blogpost .comments-area-wrapper #commentform .comment-form-comment textarea {
  display: table-cell;
}
.blogpost .comments-area-wrapper #commentform .comment-form-author label, .blogpost .comments-area-wrapper #commentform .comment-form-email label, .blogpost .comments-area-wrapper #commentform .comment-form-url label, .blogpost .comments-area-wrapper #commentform .comment-form-comment label {
  width: 96px;
  color: #666;
  vertical-align: middle;
}
.blogpost .comments-area-wrapper #commentform .comment-form-author input, .blogpost .comments-area-wrapper #commentform .comment-form-author textarea, .blogpost .comments-area-wrapper #commentform .comment-form-email input, .blogpost .comments-area-wrapper #commentform .comment-form-email textarea, .blogpost .comments-area-wrapper #commentform .comment-form-url input, .blogpost .comments-area-wrapper #commentform .comment-form-url textarea, .blogpost .comments-area-wrapper #commentform .comment-form-comment input, .blogpost .comments-area-wrapper #commentform .comment-form-comment textarea {
  width: 472px;
  border: 1px solid #AAA;
}
.blogpost .comments-area-wrapper #commentform .comment-form-author textarea, .blogpost .comments-area-wrapper #commentform .comment-form-email textarea, .blogpost .comments-area-wrapper #commentform .comment-form-url textarea, .blogpost .comments-area-wrapper #commentform .comment-form-comment textarea {
  padding: 10px;
  resize: vertical;
}
.blogpost .comments-area-wrapper #commentform .comment-form-author input, .blogpost .comments-area-wrapper #commentform .comment-form-email input, .blogpost .comments-area-wrapper #commentform .comment-form-url input, .blogpost .comments-area-wrapper #commentform .comment-form-comment input {
  height: 26px;
  padding: 0px 10px;
}
.blogpost .comments-area-wrapper #commentform .form-allowed-tags {
  color: #666;
}
.blogpost .comments-area-wrapper #commentform code {
  font-family: monospace;
  font-size: 14px;
}
.blogpost .comments-area-wrapper #commentform .submit {
  padding: 12px 12px 12px 20px;
  font-size: 14px;
  color: #FFF;
  background: #DD4814;
  text-decoration: none;
  letter-spacing: 1px;
  border: none;
  margin-top: 20px;
  margin: 20px auto;
  display: block;
}
.blogpost .comments-area-wrapper #commentform .submit:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post-content, .page-content-wrapper .page-content {
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 30px;
}
.post-content h1, .page-content-wrapper .page-content h1 {
  font-size: 2em;
}
.post-content h2, .page-content-wrapper .page-content h2 {
  font-size: 1.5em;
}
.post-content h3, .page-content-wrapper .page-content h3 {
  font-size: 1.17em;
}
.post-content h4, .page-content-wrapper .page-content h4 {
  font-size: 1.12em;
}
.post-content h5, .page-content-wrapper .page-content h5 {
  font-size: .83em;
}
.post-content h6, .page-content-wrapper .page-content h6 {
  font-size: .75em;
}
.post-content h1, .page-content-wrapper .page-content h1, .post-content h2, .page-content-wrapper .page-content h2, .post-content h3, .page-content-wrapper .page-content h3, .post-content h4, .page-content-wrapper .page-content h4, .post-content h5, .page-content-wrapper .page-content h5, .post-content h6, .page-content-wrapper .page-content h6 {
  line-height: initial;
  font-weight: 500;
  margin: 10px 0px;
}
.post-content pre, .page-content-wrapper .page-content pre {
  white-space: normal;
  font-family: 'Ubuntu Mono';
  margin: 20px 0px;
}
.post-content p, .page-content-wrapper .page-content p {
  margin: 20px 0px;
}
.post-content blockquote, .page-content-wrapper .page-content blockquote {
  margin-left: 20px;
  margin-right: 20px;
  background: #EEE;
  font-weight: 300;
  padding: 0px 20px;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.post-content blockquote > *, .page-content-wrapper .page-content blockquote > * {
  padding: 10px 0px;
}
.post-content blockquote p, .page-content-wrapper .page-content blockquote p {
  font-style: italic;
}
.post-content ul, .page-content-wrapper .page-content ul {
  list-style: initial;
  list-style-position: inside;
}
.post-content ol, .page-content-wrapper .page-content ol {
  list-style: initial;
  list-style-position: inside;
  list-style-type: decimal;
}
.post-content img, .page-content-wrapper .page-content img {
  border: 6px solid #FFF;
  box-shadow: 0px 1px 6px #666;
  -webkit-box-shadow: 0px 1px 6px #666;
  -moz-box-shadow: 0px 1px 6px #666;
  max-width: 100%;
  box-sizing: border-box;
}
.post-content hr, .page-content-wrapper .page-content hr {
  border-top: 1px solid #333;
  border-bottom: none;
}

@media (max-width: 360px) {
  .blogpost .featured-image-wrapper .title {
    font-size: 18px !important;
    line-height: 30px !important;
    padding: 0px 10px;
  }
}
@media (max-width: 640px) {
  .blogpost {
    padding: 40px 20px;
  }
  .blogpost .featured-image-wrapper .title {
    font-size: 30px;
    line-height: 40px;
    padding: 0px 10px;
  }
  .blogpost .meta-data {
    float: initial;
  }
  .blogpost .meta-data .pub-date {
    margin-right: 0px;
  }
  .blogpost .meta-data .comments {
    float: right;
    margin-right: 0px;
  }
  .blogpost .buttons {
    margin-top: 10px;
  }
  .blogpost .comments-area-wrapper #commentform .comment-form-author, .blogpost .comments-area-wrapper #commentform .comment-form-email, .blogpost .comments-area-wrapper #commentform .comment-form-url, .blogpost .comments-area-wrapper #commentform .comment-form-comment {
    display: block;
  }
  .blogpost .comments-area-wrapper #commentform .comment-form-author label, .blogpost .comments-area-wrapper #commentform .comment-form-author input, .blogpost .comments-area-wrapper #commentform .comment-form-author textarea, .blogpost .comments-area-wrapper #commentform .comment-form-email label, .blogpost .comments-area-wrapper #commentform .comment-form-email input, .blogpost .comments-area-wrapper #commentform .comment-form-email textarea, .blogpost .comments-area-wrapper #commentform .comment-form-url label, .blogpost .comments-area-wrapper #commentform .comment-form-url input, .blogpost .comments-area-wrapper #commentform .comment-form-url textarea, .blogpost .comments-area-wrapper #commentform .comment-form-comment label, .blogpost .comments-area-wrapper #commentform .comment-form-comment input, .blogpost .comments-area-wrapper #commentform .comment-form-comment textarea {
    display: block;
  }
  .blogpost .comments-area-wrapper #commentform .comment-form-author label, .blogpost .comments-area-wrapper #commentform .comment-form-email label, .blogpost .comments-area-wrapper #commentform .comment-form-url label, .blogpost .comments-area-wrapper #commentform .comment-form-comment label {
    width: 100%;
    margin-bottom: 5px;
  }
  .blogpost .comments-area-wrapper #commentform .comment-form-author input, .blogpost .comments-area-wrapper #commentform .comment-form-author textarea, .blogpost .comments-area-wrapper #commentform .comment-form-email input, .blogpost .comments-area-wrapper #commentform .comment-form-email textarea, .blogpost .comments-area-wrapper #commentform .comment-form-url input, .blogpost .comments-area-wrapper #commentform .comment-form-url textarea, .blogpost .comments-area-wrapper #commentform .comment-form-comment input, .blogpost .comments-area-wrapper #commentform .comment-form-comment textarea {
    width: 100%;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 10px;
  }
  .blogpost .comments-area-wrapper #commentform .comment-form-author textarea, .blogpost .comments-area-wrapper #commentform .comment-form-email textarea, .blogpost .comments-area-wrapper #commentform .comment-form-url textarea, .blogpost .comments-area-wrapper #commentform .comment-form-comment textarea {
    padding: 10px;
  }
}
.about-me {
  background: rgba(0, 0, 0, 0.15);
  min-height: 120px;
  padding-top: 20px;
}
.about-me .photo-wrapper {
  float: left;
  margin: 0px 20px 10px 0px;
}
.about-me .photo-wrapper .photo-stack {
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  border: 2px solid white;
  transform: rotate(3deg);
}
.about-me .photo-wrapper img {
  border: 2px solid white;
  width: 100px;
  height: 100px;
  box-shadow: 0px 1px 6px #666;
  -webkit-box-shadow: 0px 1px 6px #666;
  -moz-box-shadow: 0px 1px 6px #666;
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.about-me .details {
  text-align: left;
  color: #DDD;
  font-size: 13px;
  line-height: 16px;
  min-height: 105px;
}
.about-me .socials {
  margin-top: 15px;
  text-align: center;
}
.about-me .socials .fa {
  font-size: 40px;
}
.about-me .socials > a {
  color: #DDD;
  margin-right: 15px;
}
.about-me .socials > a:last-of-type {
  margin-right: 0px;
}
.about-me .socials .fa-facebook-official:hover {
  color: #3A5795;
}
.about-me .socials .fa-github-square:hover {
  color: #FFA500;
}
.about-me .socials .fa-linkedin-square:hover {
  color: #008CBD;
}
.about-me .socials .fa-envelope-square:hover {
  color: #C92C19;
}

.side-section .title {
  margin-bottom: 10px;
  color: #DDD;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.side-section li {
  list-style: none;
}
.side-section li a {
  color: #CCC;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  line-height: 22px;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  padding: 2px 0px;
}
.side-section li a:hover {
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 640px) {
  padding-bottom: 20px;
}
.pagination {
  padding: 20px 70px 40px 70px;
  text-align: center;
}
.pagination li {
  display: inline-block;
  min-width: 30px;
}
.pagination li a {
  display: block;
  height: 30px;
  min-width: 10px;
  line-height: 30px;
  padding: 0px 10px;
  background: #EEE;
  text-decoration: none;
  border: 1px solid #DDD;
  color: #333;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-size: 12px;
}
.pagination li .fa-long-arrow-right {
  margin-left: 8px;
}
.pagination li .fa-long-arrow-left {
  margin-right: 8px;
}
.pagination .prev-page {
  float: left;
}
.pagination .next-page {
  float: right;
}
.pagination .active a {
  background: #DD4814;
  color: #FFF;
}
.pagination li:not(.disabled) a:hover {
  background: #DD4814;
  color: #FFF;
}
.pagination .disabled {
  opacity: 0.5;
}
.pagination .disabled a {
  color: #DDD;
}

.page-content-wrapper .page-content {
  padding: 20px 70px 40px 70px;
}

@media (max-width: 640px) {
  .page-content-wrapper .page-content {
    padding: 20px 20px 40px 20px;
  }
}
html, body {
  height: 100%;
}

body {
  font-family: roboto;
  padding-top: 55px;
}

#background {
  background: url(../../images/background.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: -2;
}

.slashes {
  color: #DD4814;
  font-weight: 900 !important;
}

.clearfix {
  clear: both;
}

@media (max-width: 640px) {
  #background {
    background: #DDD;
  }
}
