.blogpost {
	padding: 40px 70px;
	
	.title, .short-description {
		color: $text-color;
	}
		
	.featured-image-wrapper {
		width: 630px;
		margin-bottom: 30px;
		position: relative;
		min-height: 100px;
		
		.title {
			font-size: 30px;
			font-weight: 400;
			position: absolute;
			bottom: 0px;
			background: rgba(255, 255, 255, 0.7);
			padding-left: 15px;
			padding-right: 15px;
			line-height: 50px;
			width: 630px;
		}
	}
	
	.post-content {
		font-size: 15px;
		line-height: 22px;
		text-align: justify;
		margin-bottom: 30px;
	}
	
	.meta-data {
		float: left;
		
		> span, > a {
			padding: 12px;
			border: 1px solid #CCC;
			display: inline-block;
			font-size: 14px;
			color: #333;
			background: #DDD;
			text-decoration: none;
			@include transition(background-color 0.3s ease);
			margin-right: 6px;
			
			.fa {
				margin-right: 8px;
			}
		}
		
		a:hover, .tags:hover {
			background: #CCC;
			text-decoration: underline;
			cursor: pointer;
		}
	}
	
	.buttons {
		float: right;
		
		.read-more-button {
			padding: 12px 12px 12px 20px;
			display: inline-block;
			font-size: 14px;
			color: $nav-active-element-text-color;
			background: $nav-active-element-background;
			text-decoration: none;
			letter-spacing: 1px;
			
			.fa {
				margin-left: 8px;
			}
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.tags-and-categories-wrapper {
		margin-top: 15px;
		background: #EEE;
		border-top: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		padding: 10px 0px;
		
		.categories, .tags {
			padding-left: 10px;
			text-transform: uppercase;
  			font-size: 12px;
			color: #999;
		}
		
		a {
			color: #999;
			text-decoration: none;
			margin-right: 10px;
		}
		
		a:hover {
			text-decoration: underline;
			color: #777;
		}
		
		.fa {
			margin-right: 4px;
		}
		
		> div {
			margin-bottom: 10px;
		}
		
		> div:last-of-type {
			margin-bottom: 0px;
		}
	}


	.comments-area-wrapper {
		background: #EEE;
		border-bottom: 1px solid #DDD;

		.comments-area {
			padding: 10px;
		}

		.comments-title, .comment-reply-title {
			color: #999;
		  text-transform: uppercase;
		  font-size: 14px;
		}

		.comment {
		  border: 1px solid #CCC;
		  background: #DDD;
		  margin: 15px 10px;

		  .comment-intro {
		  	padding: 5px 10px;
		  	border-bottom: 1px dashed #CCC;

		  	color: #666;
  			font-size: 14px;

  			a {
  				color: #666;
  				font-size: 14px;
  				text-decoration: none;
  			}

  			a:hover {
  				text-decoration: underline;
  			}

  			.comment-date {
  				float: right;
  			}
		  }

		  > p {
		  	padding: 10px;
		  	color: #333;
			  font-size: 15px;
			  line-height: 18px;
		  }
		}

		.comment-list {
			margin-bottom: 35px;
		}

		#commentform {
			font-size: 15px;
			padding: 0px 10px;
  		margin: 15px 0px;
			
			.logged-in-as {
				color: #666;

				a {
					color: #333;
				}
			}

			.comment-notes {
			  color: #666;
			  font-size: 15px;
			  margin: 6px 0px;
			}

			.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment {
				display: table;
				width: 100%;
				margin: 10px 0px;

				label, input, textarea {
					display: table-cell;
				}

				label {
					width: 96px;
					color: #666;
					vertical-align: middle;
				}

				input, textarea {
					width: 472px;
					border: 1px solid #AAA
				}

				textarea {
					padding: 10px;
					resize: vertical;
				}

				input {
					height: 26px;
					padding: 0px 10px;
				}
			}

			.form-allowed-tags {
				color: #666;
			}

			code {
				font-family: monospace;
				font-size: 14px;
			}

			.submit {
		    padding: 12px 12px 12px 20px;
			  font-size: 14px;
			  color: #FFF;
			  background: #DD4814;
			  text-decoration: none;
			  letter-spacing: 1px;
			  border: none;
			  margin-top: 20px;
			  margin: 20px auto;
			  display: block;
			}

			.submit:hover { 
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}