.blogpost {
	padding: 40px 70px;
	
	.title, .short-description {
		color: $text-color;
	}
		
	.featured-image-wrapper {
		width: 100%;
		margin-bottom: 30px;
		position: relative;

		.title-wrapper {
			position: absolute;
			left: 0px;
		  bottom: 0px;
		  width: 100%;
		}

		.title {
			font-size: 30px;
		  font-weight: 400;
		  background: rgba(255, 255, 255, 0.7);
		  line-height: 50px;
		  margin: 0px 6px 6px 6px;
		}

		.featured-image {
			border: 6px solid #FFF;
			@include box-shadow(0px 1px 6px #666);
		}

		img {
			display: block;
			width: 100%;
		}
	}

	.meta-data {
		float: left;
		
		> span, > a {
			padding: 12px;
			border: 1px solid #CCC;
			display: inline-block;
			font-size: 14px;
			color: #333;
			background: #DDD;
			text-decoration: none;
			@include transition(background-color 0.3s ease);
			margin-right: 6px;
			
			.fa {
				margin-right: 8px;
			}
		}
		
		a:hover, .tags:hover {
			background: #CCC;
			text-decoration: underline;
			cursor: pointer;
		}
	}
	
	.buttons {
		float: right;
		
		.read-more-button {
			padding: 12px 12px 12px 20px;
			display: inline-block;
			font-size: 14px;
			color: $nav-active-element-text-color;
			background: $nav-active-element-background;
			text-decoration: none;
			letter-spacing: 1px;
			
			.fa {
				margin-left: 8px;
			}
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.tags-and-categories-wrapper {
		margin-top: 15px;
		background: #EEE;
		border-top: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		padding: 10px 0px;
		
		.categories, .tags {
			padding-left: 10px;
			text-transform: uppercase;
  		font-size: 12px;
			color: #999;
		}
		
		a {
			color: #999;
			text-decoration: none;
			margin-right: 10px;
  		line-height: 20px;
  		display: inline-block;
		}
		
		a:hover {
			text-decoration: underline;
			color: #777;
		}
		
		.fa {
			margin-right: 2px;
		}
		
		> div {
			margin-bottom: 10px;
		}
		
		> div:last-of-type {
			margin-bottom: 0px;
		}
	}


	.comments-area-wrapper {
		background: #EEE;
		border-bottom: 1px solid #DDD;

		.comments-area {
			padding: 10px;
		}

		.comments-title, .comment-reply-title {
			color: #999;
		  text-transform: uppercase;
		  font-size: 14px;
		}

		.comment {
		  border: 1px solid #CCC;
		  background: #DDD;
		  margin: 15px 10px;

		  .comment-intro {
		  	padding: 5px 10px;
		  	border-bottom: 1px dashed #CCC;

		  	color: #666;
  			font-size: 14px;

  			a {
  				color: #666;
  				font-size: 14px;
  				text-decoration: none;
  			}

  			a:hover {
  				text-decoration: underline;
  			}

  			.comment-date {
  				float: right;
  			}
		  }

		  > p {
		  	padding: 10px;
		  	color: #333;
			  font-size: 15px;
			  line-height: 18px;
		  }
		}

		.comment-list {
			margin-bottom: 35px;
		}

		#commentform {
			font-size: 15px;
			padding: 0px 10px;
  		margin: 15px 0px;
			
			.logged-in-as {
				color: #666;

				a {
					color: #333;
				}
			}

			.comment-notes {
			  color: #666;
			  font-size: 15px;
			  margin: 6px 0px;
			}

			.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment {
				display: table;
				width: 100%;
				margin: 10px 0px;

				label, input, textarea {
					display: table-cell;
				}

				label {
					width: 96px;
					color: #666;
					vertical-align: middle;
				}

				input, textarea {
					width: 472px;
					border: 1px solid #AAA
				}

				textarea {
					padding: 10px;
					resize: vertical;
				}

				input {
					height: 26px;
					padding: 0px 10px;
				}
			}

			.form-allowed-tags {
				color: #666;
			}

			code {
				font-family: monospace;
				font-size: 14px;
			}

			.submit {
		    padding: 12px 12px 12px 20px;
			  font-size: 14px;
			  color: #FFF;
			  background: #DD4814;
			  text-decoration: none;
			  letter-spacing: 1px;
			  border: none;
			  margin-top: 20px;
			  margin: 20px auto;
			  display: block;
			}

			.submit:hover { 
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}



.post-content {
	font-size: 15px;
	line-height: 22px;
	text-align: justify;
	margin-bottom: 30px;

	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.5em;
	}
	
	h3 {
		font-size: 1.17em;
	}
	
	h4 {
		font-size: 1.12em;
	}
	
	h5 {
		font-size: .83em;
	}
	
	h6 {
		font-size: .75em;
	}
	
	h1, h2, h3, h4, h5, h6 {
		line-height: initial;
		font-weight: 500;
		margin: 10px 0px;
	}

	pre {
		white-space: normal;
  	font-family: 'Ubuntu Mono';
  	margin: 20px 0px;
	}

	p {
		margin: 20px 0px;
	}

	blockquote {
		margin-left: 20px;
	  margin-right: 20px;
	  background: #EEE;
	  font-weight: 300;
	  padding: 0px 20px;
	  border-left: 1px solid #DDD;
	  border-right: 1px solid #DDD;

	  > * {
	  	padding: 10px 0px;
	  }

	  p {
	  	font-style: italic;
	  }
	}

	ul {
		list-style: initial;
		list-style-position:inside;
	}

	ol {
		list-style: initial;
  	list-style-position: inside;
  	list-style-type: decimal;
	}

	img {
		border: 6px solid #FFF;
		@include box-shadow(0px 1px 6px #666);
		max-width: 618px;
	}

	hr {
		border-top: 1px solid #333;
  	border-bottom: none;
	}
}



@media (max-width: $media-query-low) {
	.blogpost {
		.featured-image-wrapper {
			.title {
				font-size: 18px !important;
				line-height: 30px !important;
				padding: 0px 10px;
			}
		}
	}
}



@media (max-width: $media-query-medium) {
	.blogpost {
		padding: 40px 20px;

		.featured-image-wrapper {
			.title {
				font-size: 30px;
        line-height: 40px;
        padding: 0px 10px;
			}
		}

    .meta-data {
      float: initial;

      .pub-date {
      	margin-right: 0px;
      }

      .comments {
        float: right;
        margin-right: 0px;
      }
    }

    .buttons {
      margin-top: 10px;
    }
	

		.comments-area-wrapper {
			#commentform {
				.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment {
					display: block;

					label, input, textarea {
						display: block;
					}

					label {
						width: 100%;
						margin-bottom: 5px;
					}

					input, textarea {
						width: 100%;
						padding: 0px;
					}
				}
			}
		}
	}
}