main {
	width: 1100px;
	height: 1000px;
	background: $main-background;
	margin: 0px auto 115px auto;
	display: table;
	@include box-shadow(0px 0px 8px 2px rgba(0, 0, 0, 0.1));
	
	.content, .side-column {
		display: table-cell;
	}
	
	.content {
		width: 770px;
	}

	.content-title {
	  padding: 40px 0px 20px 0px;
	  font-size: 36px;
	  font-weight: 600;
	  margin: 0px 70px;
	  border-bottom: 2px dashed $accent-color;

  	.slashes {
  		font-weight: 900;
  		color: $accent-color;
  	}
	}
	
	.side-column {
		width: 330px;
		background: $nav-background;
		vertical-align: top;

		> div {
			width: 250px;
			padding-left: 40px;
			padding-right: 40px;
		}
	}
}